{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body class="no-sidebar collapse-sidebar sidebar-footer">
  <header role="banner">{% include header.html %}</header>
  <div id="main">
    <aside>
      <div id="intro">
        <p class="name">A coder like running, <br> a runner like&nbsp; coding.</p>
      </div>
      <div id="links">
        <p>
          <a href='#'>github.com/yzhang</a><br>
          <a href='#'>twitter.com/yuanyiz</a><br>
          <a href='#'>zhangyuanyi@gmail</a>
        </p>
      </div>
    </aside>
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>

  {% include after_footer.html %}
</body>
</html>
