{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body class="no-sidebar collapse-sidebar sidebar-footer">
  <!--
  <header role="banner">{% include header.html %}</header>
  -->
  <div id="main">
    <div class="user-timeline-marker"></div>
    <aside>
      <div class="profile">
        <a href="/"><img src="/images/morbo.png"></a>
      </div>
      <div id="links">
        <p>
          <a href='#'>
            <span>articles</span>
          </a>
          <br>
          <a href='#'>
            <span>projects</span>
          </a>
          <br>
          <a href='#'>
            <span>github</span>
          </a>
          <br>
          <a href='#'>
            <span>gmail</span>
          </a>
        </p>
      </div>
    </aside>
    <div id="content">
      <div id="articles">
        {{ content | expand_urls: root_url }}
        <div class="clear"></div>
      </div>
      <footer class="layout">
        This site is proudly powered by <a href="http://octopress.org">Octopress</a>. Theme design:  <a href="https://github.com/yzhang/yzhang.github.com">yuanyiz</a>
      </footer>
    </div>
  </div>

  {% include after_footer.html %}
</body>
</html>
