// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
*
  margin: 0
  padding: 0

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  background: #333

body
  margin: 0
  font-family: "Gill Sans","Gill Sans MT", sans-serif
  font-size: 13px
  line-height: 18px
  color: #333333
  background-color: #333

  #main
    width: 780px
    margin-top: 0px
    margin-left: auto
    margin-right: auto
    background-color: #333
    border-bottom: none
    
    .user-timeline-marker
      -webkit-animation: fade-timeline-in .7s ease-out
      -moz-animation: fade-timeline-in .7s ease-out
      -ms-animation: fade-timeline-in .7s ease-out
      background: rgba(255, 255, 255, 0.25)
      margin-left: -162px
      position: absolute
      left: 50%
      top: 0
      bottom: 0
      width: 6px
      border-width: 0px
      z-index: 2

    aside
      width: 200px
      margin-top: 40px
      height: 100%
      padding: 0px 30px
      box-sizing: border-box
      background: #333
      position: fixed
      top: 0
      
      .profile
        width: 100px
        height: 100px
        border-radius: 100px
        background: white
        z-index: 2
        border: 2px solid rgba(0, 0, 0, 0.3)
        img
          width: 100px
          height: 100px
          border-radius: 100px
          z-index: 3
        .name
          text-align: center
          color: white
          padding: 15px 0
          font-size: 14px
        
      p
        line-height: 28px
        font-size: 18px
        padding: 20px 0
  
      #links
        position: fixed
        top: 165px
        a
          width: 100px
          border: 2px solid rgba(255, 255, 255, 0.1)
          -moz-border-radius: 17px
          -webkit-border-radius: 17px
          border-radius: 17px
          display: inline-block
          text-decoration: none
          margin: 10px 0
          text-align: center
          height: 26px
          color: white
          &:hover
            color: #1863A1

          span
            border: 1px solid rgba(0, 0, 0, 0.6)
            -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.31)
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.31)
            -o-box-shadow: 0 1px 0 rgba(255,255,255,0.31)
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.31)
            -moz-border-radius: 15px
            -webkit-border-radius: 15px
            border-radius: 15px
            display: block
            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.48,rgba(26, 26, 26, 0.5)),color-stop(0.52,rgba(0, 0, 0, 0.5)))
            background-image: -webkit-linear-gradient(bottom,rgba(26, 26, 26, 0.5) 48%,rgba(0, 0, 0, 0.5) 52%)
            background-image: -moz-linear-gradient(bottom,rgba(26, 26, 26, 0.5) 48%,rgba(0, 0, 0, 0.5) 52%)
            background-image: -ms-linear-gradient(bottom,rgba(26, 26, 26, 0.5) 48%,rgba(0, 0, 0, 0.5) 52%)
            background-image: -o-linear-gradient(bottom,rgba(26, 26, 26, 0.5) 48%,rgba(0, 0, 0, 0.5) 52%)
            background-image: linear-gradient(bottom,rgba(26, 26, 26, 0.5) 48%,rgba(0, 0, 0, 0.5) 52%)
            border: 1px solid rgba(255, 255, 255, 0.11)
            -moz-border-radius: 13px
            -webkit-border-radius: 13px
            border-radius: 13px
            display: block
            line-height: 20px
            padding: 1px 15px 3px 15px
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
          
  #content
    width: 580px
    border-right: none
    float: left
    background: transparent
    margin-left: 200px
    
    #articles
      margin: 0
      padding: 0
      border-left: 1px solid #333


    article
      width: 560px
      min-height: 60px
      margin: 20px 0
      border-left: 1px solid #333
      padding: 0
      border-radius: 10px
      background: #F8F8F8 url('/images/noise.png?1344622001') top left


      .date
        line-height: 42px
        height: 42px
        margin-top: 11px
        margin-left: 26px
        width: 86px
        color: gray
        z-index: 1
        position: absolute
      .title
        line-height: 42px
        height: 42px
        margin-top: 10px
        padding-left: 106px
        margin-left: 26px
        float: left
        width: 400px
        font-size: 18px
        border-bottom: 1px dotted #B6B6B6
      .meta
        line-height: 24px
        height: 24px
        float: left
        width: 460px
        font-size: 12px
        color: #bbb
        padding-top: 5px
        padding-bottom: 10px
        margin-top: 0
        margin-bottom: 0
        margin-left: 26px
        border-top: 1px dotted #B6B6B6
      .excerpt, .full
        clear: both
        padding-top: 20px
        margin-bottom: 0px
        margin-left: 26px
        width: 480px
        color: #555
        font-weight: lighter
        font-size: 16px
        float: left
        img
          width: 400px
          border-radius: 10px
          box-sizing: border-box
          padding: 0
          border: none
        p
          margin-bottom: 20px
          line-height: 24px
  #post article .title
    padding-left: 0
  
  footer
    width: 561px
    margin-top: 20px
    margin-bottom: 20px
    padding-top: 20px
    padding-bottom: 20px
    padding-left: 26px
    clear: both
    color: #aaa
    border-radius: 10px
    background: #F8F8F8 url('/images/noise.png?1344622001') top left
    box-sizing: border-box
    -moz-box-sizing: border-box
    line-height: 18px

.clear
  clear: both
.toggle-sidebar
  display: none

ul
  list-style: none
li
  line-height: 24px
  

body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section
  padding-left: 0px
  padding-right: 0px
    
